soap/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8000/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8000/" xmlns:intf="http://localhost:8000/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://localhost:8000/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="name" type="xsd:string"/>
            <element name="lastName" type="xsd:string"/>
            <element name="email" type="xsd:string"/>
            <element name="password" type="xsd:string"/>
        </schema>
    </wsdl:types>

    <wsdl:message name="registerUserRequest">

        <wsdl:part element="impl:name" name="name"/>

        <wsdl:part element="impl:lastName" name="lastName"/>

        <wsdl:part element="impl:email" name="email"/>

        <wsdl:part element="impl:password" name="password"/>

    </wsdl:message>

    <wsdl:message name="registerUserResponse">

    </wsdl:message>

    <wsdl:portType name="RegisterService">

        <wsdl:operation name="registerUser" parameterOrder="name lastName email password">

            <wsdl:input message="impl:registerUserRequest" name="registerUserRequest"/>

            <wsdl:output message="impl:registerUserResponse" name="registerUserResponse"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="RegisterServiceSoapBinding" type="impl:RegisterService">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="registerUser">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="registerUserRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="registerUserResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="RegisterServiceService">

        <wsdl:port binding="impl:RegisterServiceSoapBinding" name="RegisterService">

            <wsdlsoap:address location="http://localhost:8000/RegisterService"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
